body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 90%;
    /* background-color: antiquewhite; */
    margin: auto;
}

h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
}


.arc-section {
    display: flex;
    width: 1100px;
    /* flex-direction: column; */
    align-items: center;
    margin: auto;
    justify-content: space-between;
    height: 65%;
    
}

.arc-parameters {
    margin-bottom: 20px;
}



/* ------------------------------ From-div ----------------------------------------------------- */
#arcDetectionForm {
    /* margin-left: 50px; */
    width: 100%;
}
.form-div {
    font-family: Arial, sans-serif;
    width: 500px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

label {
    flex: 1;
    text-align: left;
    /* margin-right: 10px; */
}

label[for="signal_length"] {
    margin-right: 24.36px;
}

label[for="save_arc_data"] {
    margin-right: 23.11px;
}

label[for="save_dir"] {
    margin-right: 66.09px;
}

label[for="detection_period"] {
    margin-right: 3px;
}

#save_arc_data {
    width: 192.5px;
}

#signal_length {
    width: 192.5px;
}

#save_dir {
    width: 178.5px;
}

#detection_period {
    width: 192.5px;
}

input[type="number"],
input[type="text"],
select {
    flex: 1.5;
    padding: 5px;
    font-size: 14px;
}

button {
    width: 60px;
    padding: 10px;
    font-size: 16px;
    /* background-color: #f5f5f5;
    border: 1px solid #ccc; */
    border-radius: 4px;
    cursor: pointer;
}



#updateBtn {
    width: 75px;
    background-color: rgb(161, 161, 223);
    margin-left: 10px;
}

.start {
    background-color: rgb(15, 223, 15); /* Green for Start */
    font-weight: bold;
}

.stop {
    background-color: rgb(248, 166, 59); /* Red for Stop */
    font-weight: bold;
}

.start:hover {
    background-color: rgb(113, 255, 113);
}

.stop:hover {
    background-color: rgb(255, 189, 103);
}

button:hover {
    background-color: #8eaef5;
}

#updateBtn:hover {
    background-color: #8eaef5;
}
/* _______________________________________________________________________ */

.upper-plot-area {
    width: 80%;
    height: 450px;
    margin: 20px 0;
    /* padding-right: 40px; */
    /* background-color: #e0e0e0; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.lower-plot-area {
    width: 1100px;
    height: 280px;
    margin: 20px 0;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.det-hist {
    display: flex;
    align-items: center;
    justify-content: center;
}
