body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 90%;
    margin: auto;
}

h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
}

.data-section {
    display: flex;
    width: 1100px;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    height: 65%;
}

.form-div {
    font-family: Arial, sans-serif;
    width: 500px;
    margin: 0 auto;
}
#signal_length-div {
    display: inline-flex;
    height: 17px;
}
#signal_length-div p {
    margin: 0;
}
#signal_length-div label {
    margin-right: 50.48px;
}

label {
    flex: 1;
    text-align: left;
}

label[for="num_samples"] {
    margin-right: 3px;
}

label[for="data_type"] {
    margin-right: 77.98px;
}

label[for="save_dir"] {
    margin-right: 41.2px;
}

#num_samples {
    width: 178.5px;
}

#data_type {
    width: 192.5px;
}

#save_dir {
    width: 178.5px;
}


input[type="number"],
input[type="text"],
select {
    flex: 1.5;
    padding: 5px;
    font-size: 14px;
}

button {
    width: 60px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.data-parameters {
    text-align: left;
    width: 45%;
}

.plot-area {
    width: 50%;
    height: 80%;
}

.log-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logs {
    height: 100%; /* Take up the remaining 50% of the height */
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevent scrolling on the overall container */
    width: 1100px;
}

.logs table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    overflow-y: hidden; /* Ensures scrolling within table container */
    display: block;
    overflow-x: hidden;
    table-layout: fixed;
}

.col-file-num {
    width: 10px;
}
.col-file-name {
    width: 80px;
}
.col-signal-type {
    width: 30px;
}
.col-save-dir {
    width: 130px;
}
.col-dir-size {
    width: 20px;
}
.col-avlb-storage {
    width: 20px;
}

.logs thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.logs tbody {
    display: block;
    height: 270px;
    overflow-y: auto;
    scrollbar-width: none;
    table-layout: fixed;

}

.logs th, .logs td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}

.logs th {
    background-color: #f0f0f0; /* Optional: header background color */
}

.logs tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
