body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.card {
    width: 200px;
    height: 150px;
    background-color: #e0e0e0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-content {
    text-align: center;
}
/* ------------------------------------------ data collection ------------------- */

/*--------------------------------------- arc detection ----------------------------- */
