<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arc Detection</title>
    <link rel="stylesheet" href="/static/css/arc-detection.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Arc Detector</h1>
        <div class="arc-section">
            <div class="form-div">
                <form id="arcDetectionForm">
                    <label for="signal_length"><strong>Signal Length:</strong></label>
                    <select name="signal_length" id="signal_length" required>
                        <option value="2048">2048</option>
                        <option value="1024">1024</option>
                        <option value="512">512</option>
                    </select><br><br>

                    <label for="save_arc_data"><strong>Save Arc Data:</strong></label>
                    <select name="save_arc_data" id="save_arc_data" required>
                        <option value="0">False</option>
                        <option value="1">True</option>
                    </select><br><br>
    
                    <label for="save_dir"><strong>Save Dir:</strong></label>
                    <input type="text" name="save_dir" id="save_dir" value="/home/netvision/Desktop/arc_data" required><br><br>
                    <label for="detection_period"><strong>Detection Period:</strong></label>
                    <select name="detection_period" id="detection_period" required>
                        <option value="0.5">30 sec</option>
                        <option value="1">1 min</option>
                        <option value="3">3 min</option>
                    </select><br><br>
                    <button type="button" onclick="toggleDetection()" id="toggleBtn" class="start"><strong>Start</strong></button>
                    <button type="button" onclick="updateSignalLength()" id="updateBtn" class="update-btn" disabled><strong>Apply</strong></button>
                </form>
            </div>
            <div class="upper-plot-area" id="upper-plotly-chart">
            </div>
        </div>
        <div class="det-hist">
            <div class="lower-plot-area" id="lower-plotly-chart">
            </div>
        </div>
    </div>
    <script src="/static/js/arc_detection.js">
        
    </script>
</body>
</html>
