<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Collection</title>
    <link rel="stylesheet" href="/static/css/data_collection.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Data Collection</h1>
        <div class="data-section">
            <!-- method="post" action="/data-collection" -->
            <form id="dataCollectionForm"> 
                <label for="signal_length"><strong>Signal Length:</strong></label>
                <input type="number" id="signal_length" name="signal_length" value="2048" required><br><br>
        
                <label for="num_samples"><strong>Number of Samples:</strong></label>
                <input type="number" id="num_samples" name="num_samples" value="3000" required><br><br>
        
                <label for="data_type"><strong>Data Type:</strong></label>
                <input type="text" id="data_type" name="data_type" value="Normal Signal" required><br><br>
        
                <label for="file_type"><strong>File Type:</strong></label>
                <input type="text" id="file_type" name="file_type" value="CSV" required><br><br>
        
                <label for="save_dir"><strong>Save Directory:</strong></label>
                <input type="text" id="save_dir" name="save_dir" value="/datasets/" required><br><br>

                <button type="button" onclick="startCollection()">Start Collection</button>
                
            </form>
        
            <div class="plot-area", id="plotly-chart">
               
            </div>
            {% if alert %}
            <script>
                alert("{{ alert }}");
            </script>
            {% endif %}
        </div>
        <div class="logs">
            <h2>Logs</h2>
            <table>
                <thead>
                    <tr>
                        <th class="col-file-num">File Num</th>
                        <th class="col-file-name">File name</th>
                        <th class="col-signal-type">Signal Type</th>
                        <th class="col-save-dir">Save dir</th>
                        <th class="col-dir-size">Save dir size</th>
                        <th class="col-avlb-storage">Avlb. storage</th>
                    </tr>
                </thead>
                <tbody id="logTableBody">
                    <!-- <tr>
                        <td class="col-file-num">1</td>
                        <td class="col-file-name">2024-11-11...</td>
                        <td class="col-signal-type">Normal</td>
                        <td class="col-save-dir">/datasets/</td>
                        <td class="col-dir-size">63 MB</td>
                        <td class="col-avlb-storage">2.3 GB</td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
    <script src="/static/js/data_collection.js"></script>
</body>
</html>
